<div class="row mt-3">
  <div class="col">
    <div class="fs-1 fw-bold text-primary">Order Placed</div>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-secondary">Back</button>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <p> Your order details are below</p>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Date:</td>
          <td> <code>Friday, March 21 2025</code> </td>
        </tr>
        <tr>
          <td>Order Id:</td>
          <td> <code>abc123</code> </td>
        </tr>
        <tr>
          <td>Payment Id:</td>
          <td> <code>xyz789</code> </td>
        </tr>
        <tr>
          <td>Total:</td>
          <td> <code>$12.00</code> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
