<div class="container">
  <div class="row mt-3">
    <div class="col">
      <h2 class="mb-3">Order Placed</h2>
      <p class="text-muted">Your order details are below</p>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-secondary" (click)="backToMenu()">Back</button>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <div class="list-group">
        <div class="list-group-item">
          <div class="row">
            <div class="col-3">Date:</div>
            <div class="col">{{ date | date:'MMM d, y' }}</div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="row">
            <div class="col-3">Order Id:</div>
            <div class="col">{{ orderId }}</div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="row">
            <div class="col-3">Payment Id:</div>
            <div class="col">{{ paymentId }}</div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="row">
            <div class="col-3">Total:</div>
            <div class="col">${{ total.toFixed(2) }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>