<div class="menu-container">
  <div class="menu-header">
    <h2>Menu (${{ totalAmount.toFixed(2) }})</h2>
    <button class="place-order-btn" [disabled]="totalItems === 0" (click)="placeOrder()">
      Place Order ({{ totalItems }})
    </button>
  </div>
  <div class="menu-item" *ngFor="let item of menuItems">
    <button class="remove-btn" (click)="removeItem(item)">X</button>
    <div class="item-details">
      <div class="item-name">Name: {{ item.name }}</div>
      <div class="item-description">Description: {{ item.description }}</div>
      <div class="item-price">
        <ng-container *ngIf="getQuantity(item.id) as quantity">
          Quantity: {{ quantity }}
        </ng-container>
        <ng-container *ngIf="!getQuantity(item.id)">
          Price: ${{ item.price.toFixed(2) }}
        </ng-container>
      </div>
    </div>
    <div class="add-item">
      <button class="add-btn" (click)="addItem(item)">+</button>
    </div>
  </div>
</div>