<div class="row mt-3">
  <div class="col d-flex justify-content-between align-items-center">
    <div class="fs-1 fw-bold text-primary">Menu (${{ totalAmount.toFixed(2) }})</div>
    <div>
      <button type="button" class="btn btn-primary" [disabled]="totalItems == 0" (click)="placeOrder()">
        Place Order ({{ totalItems }})
      </button>
    </div>
  </div>
</div>

<div class="row mb-2" *ngFor="let item of menuItems">
  <div class="col">
    <div class="menu-item">
      <div>
        <button type="button" class="btn btn-warning" (click)="removeItem(item)">
          <i class="bi bi-x-square"></i>
        </button>
      </div>
      <div class="menu-details">
        <div>Name: <span class="fw-bold">{{ item.name }}</span></div>
        <div>Description:
          <span class="fst-italic">{{ item.description }}</span>
        </div>
        <div>
          <ng-container *ngIf="getQuantity(item.id) as quantity">
            <div class="text-danger fw-bold">Quantity: {{ quantity }}</div>
          </ng-container>
          <ng-container *ngIf="!getQuantity(item.id)">
            <div>Price: ${{ item.price.toFixed(2) }}</div>
          </ng-container>
        </div>
      </div>
      <div class="menu-button-end">
        <button type="button" class="btn btn-success" (click)="addItem(item)">
          <i class="bi bi-plus-circle"></i>
        </button>
      </div>
    </div>
  </div>
</div>