<div class="row mt-3">
  <div class="col">
    <div class="fs-1 fw-bold text-primary">Confirm Order</div>
  </div>
</div>

<form>
  <div class="row mb-2">
    <div class="col">
      <label for="username" class="form-label">Username</label>
      <input type="text" id="username" class="form-control" placeholder="Registered username">
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <label for="password" class="form-label">Password</label>
      <input type="password" id="password" class="form-control" placeholder="Valid password">
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-danger">
          Start Over
        </button>
        <button type="submit" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</form>

<div class="row mb-2">
  <div class="col">
    <h2>Your Order</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th> Name </th>
          <th> Price </th>
          <th> Quantity </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> 1 </td>
          <td> XXX </td>
          <td> $10 </td>
          <td> XXX </td>
          <td> $10 </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4"></td>
          <td> $10 </td>
        </tr>
      </tfoot>

    </table>
  </div>
</div>
